# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Idea IDE directory
.idea/

# Log file
*.log

# Ignore Python virtual environment directories
*.venv/
*.env/
*venv/
*env/