grant {
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.io.FilePermission "/home/fede/certs/root-ca.pem", "read";}
};
