grant {
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.io.FilePermission "/home/mcasas/Documentos/Proyectos/wazuh-certificates/root-ca.p12", "read";};
