grant {
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.io.FilePermission "/etc/wazuh-indexer/certs/*", "read";};
