grant {
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.util.PropertyPermission "opensearch.experimental.feature.tiered_remote_index.enabled", "read";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.io.FilePermission "*", "read,write";
};
