grant {
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.io.FilePermission "*", "read,write";

    // needed to find the classloader to load whitelisted classes.
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "getClassLoader";

    // Unix domain socket specific permissions
    permission java.io.FilePermission "/usr/share/wazuh-indexer/engine/sockets/-", "read,write";
    permission java.io.FilePermission "/usr/share/wazuh-indexer/engine/sockets/engine-api.sock", "read,write";
    
};
