run-name: Build ${{ inputs.plugin }} plugin | ${{ inputs.id  }}
name: (5.x) Build packages

# This workflow runs when any of the following occur:
# - Run manually
# - Invoked from another workflow
on:
  workflow_dispatch:
    inputs:
      revision:
        description: "Revision"
        type: string
        default: "0"
      plugin:
        description: "Name of the plugin to build"
        type: string
        default: "setup"
      id:
        description: "ID used to identify the workflow uniquely."
        type: string
        required: false
  workflow_call:
    inputs:
      revision:
        description: "Revision"
        type: string
        default: "0"
      plugin:
        description: "Name of the plugin to build"
        type: string
        default: "setup"
      id:
        description: "ID used to identify the workflow uniquely."
        type: string
        required: false

# ==========================
# Bibliography
# ==========================
#
# * Reusable workflows: limitations
#   | https://docs.github.com/en/actions/using-workflows/reusing-workflows#limitations
# * Using matrix in reusable workflows:
#   | https://docs.github.com/en/actions/using-workflows/reusing-workflows#using-a-matrix-strategy-with-a-reusable-workflow
# * Reading input from the called workflow
#   | https://docs.github.com/en/enterprise-cloud@latest/actions/using-workflows/workflow-syntax-for-github-actions#onworkflow_callinputs
# * Ternary operator
#   | https://docs.github.com/en/actions/learn-github-actions/expressions#example

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      actions: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle # Used for caching
        uses: gradle/actions/setup-gradle@v5

      - name: Get version
        id: version
        run: echo "version=$(jq -r .version<VERSION.json)" >> "$GITHUB_OUTPUT"

      - name: Clone Security Analytics repository
        run: |
          git clone https://github.com/wazuh/wazuh-indexer-security-analytics.git ../sap-repo

      - name: Publish commons library to mavenLocal
        working-directory: ../sap-repo/commons
        run: |
          ./gradlew publishToMavenLocal -x check \
            -Dversion=${{ steps.version.outputs.version }} \
            -Drevision=${{ inputs.revision }}

      - name: Publish Security Analytics plugin zip to mavenLocal
        working-directory: ../sap-repo
        run: |
          ./gradlew publishToMavenLocal -x check \
            -Dversion=${{ steps.version.outputs.version }} \
            -Drevision=${{ inputs.revision }}

      - name: Build with Gradle
        working-directory: ./plugins/${{ inputs.plugin }}
        run: ./gradlew build -Dversion=${{ steps.version.outputs.version }} -Drevision=${{ inputs.revision }}

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.plugin }}-${{ steps.version.outputs.version }}.${{ inputs.revision }}.zip
          path: plugins/${{ inputs.plugin }}/build/distributions/wazuh-indexer-${{ inputs.plugin }}-${{ steps.version.outputs.version }}.${{ inputs.revision }}.zip
          if-no-files-found: error

  branches:
    runs-on: ubuntu-24.04
    outputs:
      wazuh_plugins_ref: ${{ steps.branches.outputs.wazuh_indexer_plugins_branch }}
      reporting_plugin_ref:
        ${{ steps.branches.outputs.wazuh_indexer_reporting_branch
        }}
      security_analytics_plugin_ref:
        ${{ steps.branches.outputs.wazuh_indexer_security_analytics_branch
        }}
    steps:
      - uses: actions/checkout@v5
      - name: Resolve branches
        id: branches
        uses: ./.github/actions/5_builderpackage_indexer_branch_resolver
        with:
          branch: ${{ inputs.plugins_ref }}
