name: (5.x) Build packages (on push)

# This workflow runs when any of the following occur:
# - On push
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - "**.java"
  push:
    paths:
      - "**.java"

# Cancel in-progress runs for the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  modified-plugins:
    runs-on: ubuntu-24.04
    outputs:
      projects: ${{ steps.detect_changes.outputs.projects }}
    steps:
      - uses: actions/checkout@v5

      # Step to find which project folder contains modified files
      - name: Detect modified plugins
        id: detect_changes
        uses: ./.github/actions/5_codeanalysis_detect_modified_plugins
        with:
          base_branch: ${{ github.event.repository.default_branch }}

  call-build-workflow:
    permissions:
      actions: read
    needs: modified-plugins
    strategy:
      matrix:
        project: ${{ fromJSON(needs.modified-plugins.outputs.projects) }}
    uses: ./.github/workflows/5_builderpackage_plugins.yml
    secrets: inherit
    with:
      id: ${{ github.ref }}
      plugin: ${{ matrix.project }}
