name: Gradle check

on:
  pull_request:
    paths:
      - "plugins/**/*.java" # Match changes in Java files.
      - "plugins/**/*.gradle" # Match changes in Gradle configuration.

# Cancel in-progress runs for the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      # Step to find which project folder contains modified files
      - name: Detect modified plugins
        id: detect_changes
        uses: ./.github/actions/6_codeanalysis_detect_modified_plugins
        with:
          base_branch: ${{ github.event.repository.default_branch }}
        
      # Run tests for affected projects
      - name: Run tests for affected projects
        run: |
          if [[ "${{ steps.detect_changes.outputs.projects }}" != "[]" ]]; then
            for project in $(echo "${{ steps.detect_changes.outputs.projects }}" | tr -d '[]"' | tr ',' ' '); do
              echo "Running tests for $project"
              cd plugins/$project
              ./gradlew check
              cd - # Go back to the root folder
            done
          else
            echo "No changes in Java or Gradle files to test."
          fi
